{%extends 'base.html'%}


{% block title %}
productos
{% endblock %}

{% block content %}
<nav class="titulo"> Añadir nuevos Usuarios</nav>

    <nav class="pdiv">
        <div class="func func-pers">
            
            <h2>Nombre empleado</h2>
            <input type="text" class="margin">
        
            <h2> Apellido paterno</h2>
            <input type="text" class="margin">
            
            <h2>Apellido materno</h2>
            <input type="text" class="margin">
            
            <h2>Edad</h2>
            <input type="text" class="margin">

            <h2>Usuario</h2>
            <input type="text" class="margin">
            
            <h2> Contrasña</h2>
            <input type="text" class="margin">
        </div>
        <a href="{{ url_for('personal.emp') }}"> 

            <input type="button" value="Guardar" class="bpr bpr-ac">
        </a>
        
        
        
    </nav>
    

{% endblock content %}
