{%extends 'base.html'%}

{% block title %}
empleado
{% endblock %}

{% block content %}

<nav class="titulo"> <h1>Personal</h1></nav>
<a href="{{ url_for('personal.a_emp')}}">
    <input type="button" value="Añadir empleado" class="bpr bpr-ac">
</a>
<nav class="a-table">

    <table id="d-table">
        <thead>
            <tr>
                <th>ID</th>
            <th>Nombre</th>
            <th>numero </th>
            <th>direccion</th>
            <th>opciones</th>
   
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0999</td>
            <td>nom falso</td>
            <td>numero flaso</td>
            <td>direcion falsa </td>
            <td>
                <a href="http://">Editar</a>
                <a href="http://">Eliminar</a>

            </td>
        </tr>

    </tbody>
  </table>  


</header>
</nav>

{% endblock %}
